{% extends "portfolio/index.html" %}
{% load static %}
{% block content %}

    <div class="row">
        <div class="column">
            <div class="card" style="width: 30rem;">
                <img class="card-img-top" src="{% static '/images/ermmmmm.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Klim Fedorchuk</h3>
                    <hr class="card-divider">
                    <h5 class="card-pos">Creamy Femboy</h5>
                    <hr class="card-divider">
                   <p class="card-text">"I really really love Ethan. I was him on me - around me - and IN me."
                    </p>
                    <p class="card-text">- Klim Fedorchuk
                    </p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card" style="width: 30rem;">
                <img class="card-img-top" src="{% static '/images/ethanbuttplug.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Ethan Christensen</h3>
                    <hr class="card-divider">
                    <h5 class="card-pos">A.I. Engiqueer</h5>
                    <hr class="card-divider">
                    <p class="card-text" style="font-style: italic">"Be Bruh. Do Bruh. Simply Bruh. . . . . . erm just kidding!!!!!"
                    </p>
                    <p class="card-text">- Ethan Christensen
                    </p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card" style="width: 30rem;">
                <img class="card-img-top" src="{% static '/images/sailboat.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Nolan Gregory</h3>
                    <hr class="card-divider">
                    <h5 class="card-pos">Cock Support</h5>
                    <hr class="card-divider">
                    <p class="card-text">"I am about to bust."
                    </p>
                    <p class="card-text">- Nolan Gregory
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}