{% extends "portfolio/index.html" %}
{% load static %}
{% block content %}

    <div class="main-window">

        <div class="display">
        </div>


    </div>
    <div class="lower-display">
        <p class="FNBB">
            <a class="FNBB-text">
                {#                                    <img src="{% static '/images/birdy-transformed.png' %}" alt="FNBB", width="50" height="50">#}
                FNBB
                {#                                    <img src="{% static '/images/birdy-transformed.png' %}" alt="FNBB", width="50" height="50" >#}
            </a>
        </p>
        <div class="date">

            <hr class="fbbbbar">

            <span style="font-size: 50pt"> Where</span> passion meets innovation and coding comes to life with an
            electrifying energy! Meet our incredible development team, consisting of Klim, the head of femboys, Ethan,
            the brilliant lead engineer, and Nolan, the dedicated team support. Brace yourself for a thrilling journey
            into the world of FNBB's exciting projects, where enthusiasm knows no bounds!

            <hr class="fbbbbar">

            <div class="landingblock">
                <div class="landingabout klim">
                    <div class="namelarge klimmy">
                        Klim
                    </div>
                    With an unmatched flair for creativity and design, leads the charge with the femboys project.
                    Picture
                    a stunning blend of aesthetics and functionality, where style meets substance. Klim's eyes light up
                    as
                    they
                    envision a digital realm that celebrates diversity, empowers self-expression, and showcases the
                    latest
                    trends. With every line of code, Klim brings their infectious excitement to create an inclusive
                    experience
                    that resonates with people from all walks of life.

                </div>
                 <img src="{% static '/images/birdy-transformed.png' %}" class='birdimage' alt="birdy" width="700" height="700">

            </div>

            <div class="landingblock">
            <div class="landingabout ethan">
                <div class="namelarge etchris">
                    Ethan
                </div>
                The mastermind behind the scenes, is a coding virtuoso, pushing the boundaries of what's possible.
                With an exhilarating passion for technology, Ethan tackles each challenge with a twinkle in their eye.
                Their
                fingers dance across the keyboard, transforming brilliant ideas into elegant code structures. Fuelled by
                the
                thrill of problem-solving, Ethan's enthusiasm is infectious, inspiring the entire team to aim for
                greatness.
            </div>
            </div>


            <hr class="fbbbbar">

            Nolan, the ever-supportive force within FNBB, brings the team together with their unwavering positivity and
            dedication. They keep the gears of the project turning smoothly, providing valuable insights and assistance
            to Klim and Ethan. Nolan's excitement radiates through their interactions, spreading a contagious energy
            that fuels the entire team's passion for coding.

            <hr class="fbbbbar">

            As a part of FNBB, this dynamic trio is exhilarated to be on this incredible journey. Their enthusiasm for
            coding is palpable, as they dive into every line of code with boundless excitement. The camaraderie and
            synergy between Klim, Ethan, and Nolan create an environment that fosters creativity, collaboration, and
            pure coding joy.

            <hr class="fbbbbar">

            Together, they embark on thrilling projects that transcend conventional boundaries. Whether it's developing
            cutting-edge software solutions, crafting immersive digital experiences, or exploring uncharted
            technological territories, FNBB's development team brings their collective passion and excitement to every
            endeavor.

            <hr class="fbbbbar">

            Join FNBB on this adrenaline-fueled adventure and witness the magic that happens when passion and coding
            prowess collide. Get ready to be amazed as FNBB's projects redefine the world of technology with a vibrant
            enthusiasm that knows no limits! 🌟🌟

        </div>

    </div>
{% endblock content %}
